.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parchmentTop {
  position:relative;
  width:730px;
  top:25px;
  font-family:georgia,times;
  font-style:italic;
  font-size:12pt;
  line-height:normal;
  background-image:url("./images/Parchment-Body.png");
}

.parchment {
  position:relative;
  top:-25px;
  width:730px;
  height:38px;
  background-image:url("./images/Parchment-Top.png");
}

.parchmentBottom {
  position:relative;
  bottom:-18px;
  right:-6px;
  width:730px;
  height:38px;
  background-image:url("./images/Parchment-Bottom.png");
  margin-bottom:40px;
}

.parchmentBody {
  width:610px;
  height: 70vh;
  margin: auto;
  overflow-y: scroll;
}

.itemListTable{
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.itemListTable tbody tr{
  height: 20px;
}

th.sticky-header{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(183,133,78, 1);
}

.add-remove-icons{
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
