.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parchmentTop {
  position:relative;
  width:730px;
  top:25px;
  font-family:georgia,times;
  font-style:italic;
  font-size:12pt;
  line-height:normal;
  background-image:url("./images/Parchment-Body.png");
}

.parchment {
  position:relative;
  top:-25px;
  width:730px;
  height:38px;
  background-image:url("./images/Parchment-Top.png");
}

.parchmentBottom {
  position:relative;
  bottom:-18px;
  right:-6px;
  width:730px;
  height:38px;
  background-image:url("./images/Parchment-Bottom.png");
  margin-bottom:40px;
}

.parchmentBody {
  width:610px;
  height: 60vh;
  margin: auto;
  overflow-y: scroll;
}

.itemListTable{
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.itemListTable tbody tr{
  height: 20px;
}

th.sticky-header{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(183,133,78, 1);
}

.add-remove-icons{
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.negotiate-icon{
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.bag-of-holding-cancel-changes-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: red;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.bag-of-holding-save-changes-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: green;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  margin: auto;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.changes-button-holder{
  display: inline-flex;
  justify-content: center;
  margin: auto;
}

.bag-of-holding-money{
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
}

.bag-of-holding-money-type{
  margin-right: 10px;
  margin-left: 10px;
}

.bag-of-holding-money-type label{
  margin-right: 5px;
}

.bag-of-holding-money-type input{
  background-color: yellow;
  border: none;
  width: 90px;
}

.left-arrow{
  position: fixed;
  top: 50%;
  left: 2.5%;
  cursor: pointer;
  z-index: 10;
}

.left-arrow:hover{
  position: fixed;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  z-index: 10;
  filter: contrast(50%);
}

.right-arrow{
  position: fixed;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  z-index: 10;
}

.right-arrow:hover{
  position: fixed;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  z-index: 10;
  filter: contrast(50%);
}

.stores-component-container{
  display: inline-flex;
}

.shop-image{
  width: auto;
}

.stores-owner-container{
  width: 50%;
  display: grid;
}

.owner-image{
  width: 400px;
  grid-column: 1;
  grid-row: 1;
}

.stores-owner-container p{
  grid-column: 1;
  grid-row: 2;
}

.stores-image-container{
  position: relative;
}

.level-up-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 60%;
}

.level-down-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: red;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.shop-x-button{
  position: absolute;
  left: 40px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav-bar{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #b7854e;
  z-index: 999999;
  height: 40px;
  display: flex;
}

.nav-bar div{
  display: inline-flex;
  margin: auto;
  cursor: pointer;
}

.nav-bar div:hover{
  filter: contrast(5%);
}

.number-of-items-in-cart-nav{
  color: black;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  margin-left: 10px;
  font-weight: 700;
}

.bag-or-cart{
  margin: auto;
  width: 730px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.cart-save-changes-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: green;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.cart-cancel-changes-button{
  cursor: pointer;
  border-radius: 5px;
  color: yellow;
  background-color: red;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.current-cart-cost{
  margin-left: 20px;
}

.cart-finance-holder{
  text-align: left;
  margin: auto;
  justify-content: center;
  width: 250px;
}

.cart-finance-holder p{
  width: 240px;
}

.negotiation-holder{
  margin: auto;
}

.negotiation-input{
  height:100px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin:auto;
}

.add-object-header{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.add-object-holder{
  height: 70px;
  margin-bottom: 10px;
  position: relative;
}

.add-object-holder h3{
  text-align: left;
  text-decoration: underline;
  margin-block-start: 0.3em;
}

.add-object-required-field{
  color: red;
  text-align: left;
  position: absolute;
  left: 52%;
  height: 18px;
  bottom: 4px;
}

.add-object-holder input{
  background: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  color: black;
  display: table;
  width: 50%;
}

.add-object-holder input:focus{
  outline: none;
}

.add-object-holder select{
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  color: black;
  display: table;
}

.add-object-holder select:focus{
  outline: none;
}


.add-object-holder textarea{
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  color: black;
  width: 95%;
  height: 60px;
  resize: none;
  margin-right: 5%;
}

.add-object-holder textarea:focus{
  outline: none;
}
